header.header
	.header__logo
		.logo.logo--mini

	.header__container
		.logo

		nav.header__navigation
			ul.header__navigation-list
				li.header__navigation-list-item.is-active
					a(href="#welkom") Welkom
				li.header__navigation-list-item
					a(href="#hetpand") 'T Pand
				li.header__navigation-list-item
					a(href="#kantoren") De ruimtes
				li.header__navigation-list-item
					a(href="#prijzen") Prijzen
				li.header__navigation-list-item
					a(href="#contact") Contact

	a.header__menu-btn(href='::javascript')
		span.header__menu-btn-icon