header.header
	nav.header__navigation
		ul.header__navigation-list
			li.header__navigation-list-item.is-active
				a.header__navigation-list-anchor(href="#welkom") Welkom
			li.header__navigation-list-item
				a.header__navigation-list-anchor(href="#hetpand") 'T Pand
			li.header__navigation-list-item
				a.header__navigation-list-anchor(href="#kantoren") De ruimtes
			li.header__navigation-list-item
				a.header__navigation-list-anchor(href="#prijzen") Prijzen
			li.header__navigation-list-item
				a.header__navigation-list-anchor(href="#contact") Contact

	a(href="#").header__menu-btn
		span.icon.icon-grid