a(href='::javascript').nav-toggle
	.nav-toggle__icon

.nav-mob
	a.nav-mob-logo.nav-mob-logo--mobile(href='t01.shtml')

	ul.nav-mob__list
		li.nav-mob__item.nav-mob__item--active
			a(href='#') Over Meneer
		li.nav-mob__item
			a(href='#') Projecten
			//- ul.nav-mob__sublist
			//- 	li.nav-mob__subitem
			//- 		a(href='#') Dolor amet
			//- 	li.nav-mob__subitem
			//- 		a(href='#') Dolor amet
			//- 	li.nav-mob__subitem
			//- 		a(href='#') Lorem amet
			//- 	li.nav-mob__subitem
			//- 		a(href='#') Lorem
			//- 	li.nav-mob__subitem
			//- 		a(href='#') Ipsum amet
			//- 	li.nav-mob__subitem
			//- 		a(href='#') Dolor amet
		li.nav-mob__item
			a(href='#') Contact