.nav-bottom
	.nav-bottom__container
		ul.nav-bottom__list.nav-bottom__list-social
			li.nav-bottom__list-item
				a(href='https://www.facebook.com/meneerdevormgever/', target='_blank') fb
			li.nav-bottom__list-item
				a(href='https://www.instagram.com/meneerdevormgever/', target='_blank') in
			li.nav-bottom__list-item
				a(href='https://www.linkedin.com/in/meneerdevormgever/', target='_blank') li

		ul.nav-bottom__list.nav-bottom__list-contact
			li.nav-bottom__list-item.nav-bottom__list-item-phone
				a(href='tel:+31681154824')
					span 06-81154824
			li.nav-bottom__list-item.nav-bottom__list-item-location
				a(href='/contact.html')
					span Bekijk
					span locatie