nav.nav-direction
	ul.nav-direction__container
		li.nav-direction-arrow
			a#moveSectionUp(href='#').icon.icon--arrow-up.js-nav-direction-up
		li.nav-direction-arrow
			a#moveSectionDown.icon.icon--arrow-down.js-nav-direction-down