// ---------------------------------------------
// Directories
// ---------------------------------------------

$dir-font: '/font' !default;
$dir-img: '/img' !default;

// ---------------------------------------------
// Global settings
// ---------------------------------------------
$experimental-support-vendor-prefixes: true;
$vendor-prefixes: ("-webkit-","-moz-", "-o-", "-ms-");

// ---------------------------------------------
// Font
// ---------------------------------------------
$fonts: (
	Primary: #{'Melbourne'}
);

// ---------------------------------------------
// Breakpoints
// ---------------------------------------------
$breakpoints: (
    xs:   320px,
    sm:   375px,
    md:   768px,
    ml:   1024px,
    lg:   1280px,
    xl:   1440px,
    xxl:  1920px,
    xxxl: 2560px
);

// ---------------------------------------------
// Colors
// ---------------------------------------------
$colors: (
	1: #000000,
	2: #ffffff,
	3: #333333,
	4: #444444,
	5: #555555,
	6: #666666,
	10: #777777,
	11: #000
);

// ---------------------------------------------
// Layers
// ---------------------------------------------
$elem-stack: (
	section-headers,
	footerlogos,
	cookiebar,
	news-slider,
	overlay,
	top-nav,
	direction-nav,
	nav-mob-trigger
);
