.box-container{
	display: flex;
	height: 50px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	flex-items: 0 1 auto;
	align-self: auto;
}

.box{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	flex-items: 0 1 auto;
	align-self: auto;
	

}

.box--white{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	flex-items: 0 1 auto;
	align-self: auto;


}