.box-container {
	@include flexbox;
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
    width: calc(100% + 30px);
    padding: 0;
    margin: 0 -15px;
    box-sizing: border-box;
    position: relative;
}

.box {
	padding: 20px;
	box-sizing: border-box;
	margin: 15px;
}

.box--white {
	background-color: #ffffff;
}

.box--onethird {
	width: 100%;

	@include respond-to-min('lg') {
		@include flex(0, 1, calc(33.33% - 30px));
	}
}

.box--twothird {
	width: 100%;

	@include respond-to-min('lg') {
		@include flex(0, 1, calc(66.66% - 30px));
	}
}