.box-container {
	@include flexbox;
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	@include justify-content(space-between);
	@include align-items(stetch);
	margin: 0 auto;
}

.box {
	padding: 20px;
	box-sizing: border-box;
	margin: 0px 15px;
}

.box--white {
	background-color: #ffffff;
}

.box--onethird {
	width: 33%;
}

.box--twothird {
	width: 66%;
}