.icon {
	vertical-align: middle;
	display: inline-block;
}

.icon-grid {
	width: 21px;
	height: 21px;
	background-image: url(/img/icon-grid-white.svg);
	background-repeat: no-repeat;
	background-size: cover;

}