.icon {
	vertical-align: middle;
	display: inline-block;
}

.icon-arrow-down {
	width: 32px;
	height: 32px;
	background-image: url(/img/arrow-down-white.svg);
	background-repeat: no-repeat;
	background-size: cover;
}