ul,
.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.list--type-01 {
	li {
		line-height: 30px;
		margin-bottom: 12px;

	    &:last-child {
	    	margin-bottom: 0;
	    }

		&::before {
			content: '-';
			display: inline-block;
			margin-right: 10px;
		}
	}
}

.list--type-02 {

	li {
		line-height: 18px;
	    margin-bottom: 12px;

	    &:last-child {
	    	margin-bottom: 0;
	    }

		@include respond-to-min('md') {
			font-size: 20px;
		}
	}

	a {
		color: #be1522;
		text-decoration: none;
		word-break: break-word;

		@include respond-to-min('md') {
			font-size: 20px;
		}
	}
}