.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.list__item {
	line-height: 30px;
	margin-bottom: 12px;

	&::before {
		content: '-';
		display: inline-block;
		margin-right: 10px;
	}
}