.logo {
	display: block;
    position: relative;
    width: 145px;
    height: 105px;
	background-image: url(#{$dir-img}/logo-light.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;

    @include respond-to-min('md') {
        width: 291px;
        height: 211px;
    }

}

.logo--mini {
    width: 72px;
    height: 32px;
}