.nav-toggle {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
	height: 30px;
	right: 20px;
	position: fixed;
	top: 20px;
	width: 2rem;
	z-index: 999;
	padding: 10px;

	&.is-active {
		.nav-toggle__icon {
				background-color: transparent;

			&::after, 
			&::before {
				background-color: #ffffff;
				margin-top: 0;
			}

			&::after {
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&::before {
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
	}

	@include respond-to-min('ml') {
		display: none;
	}
}

.nav-toggle__icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #000000;
	content: '';
	height: 3px;
	width: 30px;
	margin-top: 0;

	&::after, 
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		background-color: #000000;
		height: 3px;
		width: 30px;
	}

	&::after {
		margin-top: 10px;
	}

	&::before {
		margin-top: -10px;
	}
}
