h1, h2, h3, h4, h5, h6 {
	display: block;
	font-family: map-get($fonts, Primary);
	color: #3c3c3b;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 20px;
    line-height: 1.3;

    &:first-child,
    &:first-of-type {
    	margin-top: 0;
    }

	@include respond-to-min('md') {
	    font-size: 23px;
	}
}

a, p, small, ul, label, button {
	font-family: map-get($fonts, Primary);
	color: #3c3c3b;
	font-size: 20px;
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

	@include respond-to-min('md') {
		font-size: 23px;
	}
}

a {
	font-weight: 700;
}

p {
	font-weight: 400;

    &:first-child,
    &:first-of-type {
    	margin-top: 0;
    }
}



.spacing-top-sm {
	margin-top: 12.5px;
}

.spacing-top-md {
	margin-top: 50px;
}

.spacing-top-lg {
	margin-top: 100px;
}

.spacing-bottom-sm {
	margin-bottom: 12.5px;
}

.spacing-bottom-md {
	margin-bottom: 50px;
}

.spacing-bottom-lg {
	margin-bottom: 100px;
}
