
.container {
    max-width: 1060px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 30px;
    box-sizing: border-box;
}

.container--overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

.container--content-bottom {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(flex-end);
	@include align-items(center);
}
