section,
.section {
	padding: 50px 0px;
	margin: 0;
	box-sizing: border-box;
	position: relative;

	@include respond-to-min('md') {
		padding: 100px 0px;
	}
}

// .section + .section {
// 	padding-top: 0;
// }

.section--first {
	margin-top: 72px;
}

.section {
	&:only-child {
		min-height: calc(100vh - 72px);
	}
}

.section--breakout {
	padding: 0;

	&:first-of-type {
		padding-top: 0;
	}
}

.section--bg-photo {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 33.33vh;

	@include respond-to-min('xl') {
		min-height: 50vh;
	}
}


.section--overlay--dotted {
	&::before {
		content: '';
		background-image: url(#{$dir-img}/dotted.png);
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
		z-index: 2;
	}
}

.section--slider {
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;

	@include respond-to-min('lg') {
		height: 66.66vh;
		padding: 0;
	}

	.title {
		display: none;
		@include respond-to-min('md') {
			display: block;
		}
	}

	.logo + .title {
		margin-top: 50px;
	}

	.section__arrow-down {
		display: none;

		@include respond-to-min('md') {
			padding-bottom: 25px;
			text-align: center;
			display: inline-block;
			margin: 0 auto;
		}
	}

}

.section--white {
	background-color: #ffffff;
}

.section--white + .section--white {
	padding-top: 0;
}

.section--white + .section--gray {
	padding-top: 50px;

	@include respond-to-min('md') {
		padding-top: 100px;
	}

	&:first-of-type {
		padding-top: 50px;

		@include respond-to-min('md') {
			padding-top: 100px;
		}
	}
}

.section--breakout + .section--white {
	padding-top: 50px;

	@include respond-to-min('md') {
		padding-top: 100px;
	}

	&:first-of-type {
		padding-top: 50px;

		@include respond-to-min('md') {
			padding-top: 100px;
		}
	}
}

.section--gray {
	background-color: #f6f6f6;
}

.section--gray + .section--gray {
	padding-top: 0;
}

.section--gray + .section--white {
	padding-top: 50px;

	@include respond-to-min('md') {
		padding-top: 100px;
	}

	&:first-of-type {
		padding-top: 50px;

		@include respond-to-min('md') {
			padding-top: 100px;
		}
	}
}

.section--breakout + .section--gray {
	padding-top: 50px;

	@include respond-to-min('md') {
		padding-top: 100px;
	}

	&:first-of-type {
		padding-top: 50px;

		@include respond-to-min('md') {
			padding-top: 100px;
		}
	}
}

.section--map {
	padding-top: 50vh;

	@include respond-to-min('lg') {
		padding-top: 100px;
		@include flexbox;
		@include flex-direction(column);
		@include flex-wrap(wrap);
		@include justify-content(center);
		@include align-items(center);
		min-height: 100vh;
	}
}

.section--fullheight {
	min-height: 100vh;
}

.section--text-light {
	h1, h2, h3, h4, h5, h6 {
		color: #ffffff;
	}

	a, p, small, ul, label, button {
		color: #ffffff;
	}
}