extends extends/master

block content

	section.section.section--gray.section--breakout
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="/img/canal.jpg", alt="")
				.swiper-slide
					//- video(poster='/img/video-placeholder-01.jpg', preload='auto', loop='', autoplay='')
						source(src='/video/grachtendpand.mp4', type='video/mp4')

		.container.container--overlay
			h1 Ook uitgekeken op een onpersoonlijk bedrijventerrein?

	section.section.section--white
		.container
			h1 Huur een (klein) kantoor of werkplek in 't grachtenpand.

			ul.list.list--type-01
				li.list__item Hartje centrum Almere-Haven
				li.list__item Representatief en goed bereikbaar
				li.list__item Slimme werkruimtes van alle gemakken voorzien
				li.list__item Gratis parkeren

	section.section.section--gray
		.container
			img(src="/img/logo-dark.png", alt="")
			img(src="/img/dinnerroom.jpg", alt="")
			h1 Laat je uitdagen
			p  Veel zelfstandigen beginnen thuis. Maar zijn dat na een tijdje ook beu. Laat je enthousiasmeren door andere ondernemers zoals jij. Maak contact, vergroot je netwerk. In het pand is alles aanwezig om geconcentreerd te werken op een goede werkplek met alle benodigde ondersteunende faciliteiten. Er zijn meerdere bedrijven gevestigd. Innovatief en grotendeels werkzaam in de dienstverlenende en creatieve sector.

	section.section.section--gray
		.container
			h1 De locatie
			p Amere-Haven is in de loop der jaren uitgegroeid tot een stadsdeel met karakter en een duidelijke eigen identiteit. Met name de grachten zijn gezichtsbepalend en vormen een uitstraling waar menige onderneming zich graag mee associeert. Flexcentrum ‘t Grachtenpand ligt centraal aan de Kerkgracht.

			p Het centrum van Almere-Haven heeft ook veel te bieden als het gaat om levendigheid. Aan de haven zelf (op 3 minuten loopafstand) bevinden zich talloze terrassen waar het heerlijk toeven is. Er is een schakering aan restaurants waar de mogelijkheden variëren van eerste klas tot een broodje tussen de middag.

	.section.section--gray.section--breakout.section--bg-photo(style="background-image: url('/img/collage.jpg');")

	section.section.section--gray
		.container
			h1 Kantoren en Bedrijfsruimten
			p  ‘t Grachtenpand is een van de eerste gebouwen van Almere en dateert uit 1978. Omdat het goed is onderhouden en veel kantoren onlangs nog zijn gerenoveerd, heeft het veel karakter en authenticiteit. Warme kleuren voeren de boventoon.

			p Het gebouw is veel groter dan het aan de voorzijde lijkt. Een deel van de beschikbare kantoren kijkt uit op de gracht en een ander deel kijkt uit op de groene patio’s. De ruimtes variëren in grootte van 18 m2 tot circa 100 m2. Ook is het mogelijk meerdere ruimtes te huren, zodat de indeling flexibel is.

			p Alle ruimtes zijn voorzien van vloerbedekking, plafondverlichting en zonnewering in de vorm van lamellen.

	section.section.section--gray
		.container
			h1 Bekijk het pand in 360 graden

			//- iframe(src='https://www.flexas.nl/embed/11614', style='width: 100%; height: 360px;')

	section.section.section--gray
		.container
			h1 Faciliteiten
			p Glasvezel is aanwezig en Wifi is overal gratis in het gebouw beschikbaar. De intercom werkt zodanig dat vanaf elke willekeurige telefoon met bezoekers kan worden gesproken en opengedaan. Dus ook als je niet op kantoor bent.

			p In het gebouw bevindt zich een drietal pantry’s waar een kleine lunch en een prima espresso kunnen worden gemaakt. Uiteraard zijn er ook vaatwasmachines aanwezig.

	.section.section--gray.section--breakout.section--overlay--dotted.section--bg-photo(style="background-image: url('/img/garden.jpg');")

	section.section.section--gray
		.container
			h1 Flexplekken
			p  Er is een aantal flexplekken beschikbaar die voor één of meerdere dagen per week gehuurd kunnen worden. Er zijn kasten waarin je jouw spullen op kunt bergen. Je krijgt een naambordje bij de voordeur en als er gebeld wordt gaat jouw eigen telefoon. Kopiëren en printen kan voor een klein bedrag.

	section.section.section--gray
		.container
			h1 Bereikbaarheid en parkeren
			p Het is ook mogelijk het gebouw aan de achterzijde te betreden waar veel parkeerruimte is. Mocht het daar niet meteen lukken, dan staat er een ruime openbare parkeergarage tot je beschikking op nog geen 100 meter afstand.

			p Openbaarvervoer rijdt af en aan en is op 2 min. loopafstand te vinden. Amsterdam (Amstelstation) is 35 minuten en Almere-Stad nog geen 20.

	.section.section--gray.section--breakout.section--overlay--dotted.section--bg-photo(style="background-image: url('/img/roof.jpg');")

	section.section.section--gray#prijzen
		.container
			h1 Prijzen
			p Kantoren: vanaf € 235,- per maand (excl. servicekosten)

			p Flexplek: vanaf € 30,- per maand (1 dag per week, incl. servicekosten)

			p In alle gevallen krijg je een eigen sleutel (borg € 50,-) en het gebouw staat jou 24 uur per dag ter beschikking.

	section.section.section--full-height.section--white
		#map
		.container.container--overlay.container--content-center
			.box-container
				.box.box--twothird.box--white
					form.form(action='', method='get')
						.form__container
							.form__col
								.form__row
									label(for='name') Naam: 
									input(type='text', name='name', required='', placeholder='bijv. frits janssen')
								.form__row
									label(for='email') E-mail 
									input(type='email', name='email', required='', placeholder='jan@planet.nl')
								.form__row
									label(for='phone') Telefoon 
									input(type='number', name='phone', required='', placeholder='0612345678')
								.form__row
									label(for='subject') Onderwerp 
									input(type='text', name='subject', required='', placeholder='Vraag')

							.form__col
								.form__row
									label(for='message') Bericht
									textarea(name='message', rows='5', cols='33')
										| Laat hier uw bericht achter
							
							.form__col
								.form__row
									button(type='submit') Verstuur
									

				.box.box--onethird.box--white
					h2 Contact
					ul.list.list--type-02
						li.list__item Pulsar Consult bv
						li.list__item Arnold Trampe
						li.list__item Kerkgracht 32
						li.list__item 1354 AM, Almere-Haven
						li.list__item 
							a(href="tel:+31653343834") 06-5334 3834
						li.list__item 
							a(href="mailto:contact@grachtenpand-almere.nl") contact@grachtenpand-almere.nl


block scripts
	script(src='https://swiperjs.com/package/js/swiper.min.js')
	script.
		var swiper = new Swiper('.swiper-container', {
			spaceBetween: 0,
			effect: 'fade',
			loop: true,
			//- autoplay: {
			//-   delay: 5000,
			//-   disableOnInteraction: false,
			//- },
		});
	script.
		var map;
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 52.326881, lng: 5.215161},
				mapTypeId: google.maps.MapTypeId.HYBRID,
				disableDefaultUI: true,
				scrollwheel: false,
				zoomControl: true,
				zoom: 15,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.SMALL
				}
			});
		}
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA_jYYv6OsXqmyH6jc31VM4WaWMA3vuJPw&callback=initMap', async='', defer='')
	//- script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-50895878-1', 'grachtenpand-almere.nl');
		ga('send', 'pageview');

